events {}
http {
    include /etc/nginx/mime.types;
    default_type application/octet-stream;
  server {
    listen 80;
    client_max_body_size 4G;

    location /api {
        proxy_pass http://falcon-api:8080;
    }

    location / {
        proxy_pass http://client:3000;
    }

    location /static {
      autoindex on;
      alias /app/static/;
    }
  }

}