**/__pycache__
*.pyc
*.pyo
*.pyd
*.pyc

# Logs
*.log

# Virtual environment
.venv

# Environments variables
.env

# NPM related
client/app/node_modules/
client/app/.next/

# Testing
/coverage

# Production
client/app/build/
client/app/out/

# Misc
.DS_Store
client/.eslintcache
.idea/

# Debug logs
client/npm-debug.log*
client/yarn-debug.log*
client/yarn-error.log*

# Data
init-mongodb/data/data.json

