falcon==2.0.0
gunicorn
requests
eventlet
gevent
falcon-swagger-ui
mongoengine==0.15.0
pytest
pyyaml
falcon-multipart
falcon_auth[backend-jwt]
python-decouple
# influxdb-client
bcrypt
falcon-policy
pretend
gridfs
# numpy
# functools
#falcon_auth2[jwt]