falcon==2.0.0
falcon-cors
gunicorn
requests
eventlet
gevent
falcon-swagger-ui
mongoengine
pytest
pyyaml
falcon-multipart
falcon_auth[backend-jwt]
python-decouple
influxdb-client
bcrypt
falcon-policy
pretend
pandas
python-dotenv
falcon-apispec
apispec
google-api-python-client 
google-auth-httplib2 
google-auth-oauthlib
pika
# gridfs
# numpy
# functools
#falcon_auth2[jwt]